
  <button class="btn btn-lg btn-primary btn-block" type="button" id="enviar" name="enviar" (click)="getListado()">
    Listar Paises</button>


    
<table class="table table-condensed">
    <thead>
      <tr>
        <th>Pais</th>
        <th>Bandera</th>
     
      </tr>
    </thead>
    <tbody>
<tr *ngFor="let pais of listadoPaises">
    <td> {{pais.name }} </td>
  
    <!-- <td><img class='fotoGrilla' width="50" height="50" class="img-circle" src='{{ pais.flag}}'/></td> -->
    <td>
      <button class="btn btn-sm btn-warning">Editar</button>
    </td>
    </tr>
</tbody> 
</table>